:root {
  --fht-background-color: rgb(20, 20, 20);
  --fht-text-color: rgb(200, 200, 200);
  --fht-element-background-color: rgba(40, 40, 40);
  --fht-element-border-color: rgba(20, 20, 20);

  --fht-border-radius: 0.5rem;
  --fht-button-border-radius: 0.33rem;

  background-color: var(--fht-background-color);
  color: var(--fht-text-color);
}

html {
  color-scheme: dark light;

  &[data-theme="dark"] {
    color-scheme: dark;
  }

  &[data-theme="light"] {
    color-scheme: light;
    --fht-background-color: rgb(200, 200, 200);
    --fht-text-color: rgb(20, 20, 20);
    --fht-element-background-color: rgba(180, 180, 180);
    --fht-element-border-color: rgba(120, 120, 120);
  }
}

#main-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "timers"
    "tags";
  gap: 1rem;

  @media screen and (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "tags timers";
  }
}
#tags-section {
  grid-area: tags;
}
#timer-section {
  grid-area: timers;
}

input,
textarea,
button {
  color: inherit;
  font-family: unset;
  border: 0;
  padding: 0.25rem;
  box-sizing: border-box;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: var(--fht-button-border-radius);
}

h1 {
  font-size: 1.6rem;
}
h2 {
  font-size: 1.4rem;
}

.icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.clickable {
  cursor: pointer;
  user-select: none;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.card {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--fht-element-border-color);
  border-radius: var(--fht-border-radius);
  background-color: var(--fht-element-background-color);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}
